In [1]:
!pip install folium

Requirement already satisfied: folium in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.11.0)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (0.4.1)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2020.4.5.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)

In [2]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import requests
import json
from bs4 import BeautifulSoup
import re
from geopy.geocoders import Nominatim
import pprint
import folium
from folium.features import DivIcon
from folium import IFrame
import matplotlib.pyplot as plt
from IPython.display import display
from sklearn.cluster import KMeans
from pandas.io.json import json_normalize

In [4]:
# Four Square credentials
client_id = '1Y3CSAV1RDTMXIWPD3KQRUGYECV5E3H51M02Y3GGB0XZ1Z0B'
client_secret = 'PL2BXG3QUXGXJX4DSH4EJR3OQBOXGM01W0JV0PEL0U5POM0K'
version = '20200616'

# OpenCage Geocoding API key
my_api_key = "2b116591bf4b4f43a9e5e93d8ebec3f4"

# Zillow ZWSID
zwsid = "X1-ZWz1huhybd1zwr_3if65"

In [24]:
#Import data on New York's suburbs
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_d28cd095fcc94487a2c93b7aa439436b = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='WGU7Po5eFfpzidO_Bsoy4cUm5Hea3sLtSgSUVNWhmcsf',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_d28cd095fcc94487a2c93b7aa439436b.get_object(Bucket='finalcapstoneproject-donotdelete-pr-pxamz4pxuyfikp',Key='counties 2.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,County,Population,Median Home Value,Density,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Monmouth Junction,3302.0,40700.0,Rural mix,NaN,NaN,NaN,NaN,NaN
1,Hartsdale,4822.0,280200.0,Urban,NaN,NaN,NaN,NaN,NaN
2,Bedminster Township,8112.0,382800.0,Dense,NaN,NaN,NaN,NaN,NaN
3,Dayton,7340.0,385400.0,Sparse,NaN,NaN,NaN,NaN,NaN
4,Kendall Park,9346.0,397100.0,Sparse,NaN,NaN,NaN,NaN,NaN

In [25]:
print(df_data_1)

                 County  Population  Median Home Value    Density  Unnamed: 4  \
0     Monmouth Junction      3302.0            40700.0  Rural mix         NaN
1             Hartsdale      4822.0           280200.0      Urban         NaN
2   Bedminster Township      8112.0           382800.0      Dense         NaN
3                Dayton      7340.0           385400.0     Sparse         NaN
4          Kendall Park      9346.0           397100.0     Sparse         NaN
5             Chappaqua      1459.0           639400.0     Sparse         NaN
6            Glen Ridge      7573.0           644900.0      Dense         NaN
7        Mountain Lakes      4274.0           849100.0      Rural         NaN
8    Great Neck Gardens      1183.0           941800.0     Sparse         NaN
9            Greenville      7336.0           954400.0      Urban         NaN
10                  NaN         NaN                NaN        NaN         NaN

    Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8
0          NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN
5          NaN         NaN         NaN         NaN
6          NaN         NaN         NaN         NaN
7          NaN         NaN         NaN         NaN
8          NaN         NaN         NaN         NaN
9          NaN         NaN         NaN         NaN
10         NaN         NaN         NaN         NaN

In [33]:
#clean data
df_data_1.dropna(how='all')

,County,Population,Median Home Value,Density,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Monmouth Junction,3302.0,40700.0,Rural mix,NaN,NaN,NaN,NaN,NaN
1,Hartsdale,4822.0,280200.0,Urban,NaN,NaN,NaN,NaN,NaN
2,Bedminster Township,8112.0,382800.0,Dense,NaN,NaN,NaN,NaN,NaN
3,Dayton,7340.0,385400.0,Sparse,NaN,NaN,NaN,NaN,NaN
4,Kendall Park,9346.0,397100.0,Sparse,NaN,NaN,NaN,NaN,NaN
5,Chappaqua,1459.0,639400.0,Sparse,NaN,NaN,NaN,NaN,NaN
6,Glen Ridge,7573.0,644900.0,Dense,NaN,NaN,NaN,NaN,NaN
7,Mountain Lakes,4274.0,849100.0,Rural,NaN,NaN,NaN,NaN,NaN
8,Great Neck Gardens,1183.0,941800.0,Sparse,NaN,NaN,NaN,NaN,NaN
9,Greenville,7336.0,954400.0,Urban,NaN,NaN,NaN,NaN,NaN

In [36]:
CLIENT_ID = '1Y3CSAV1RDTMXIWPD3KQRUGYECV5E3H51M02Y3GGB0XZ1Z0B' # Foursquare ID
CLIENT_SECRET = 'PL2BXG3QUXGXJX4DSH4EJR3OQBOXGM01W0JV0PEL0U5POM0K' # Foursquare Secret
VERSION = '20200616'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 1Y3CSAV1RDTMXIWPD3KQRUGYECV5E3H51M02Y3GGB0XZ1Z0B
CLIENT_SECRET:PL2BXG3QUXGXJX4DSH4EJR3OQBOXGM01W0JV0PEL0U5POM0K

In [35]:
#Find the Latitude and Longditude of Monmouth Junction
address = 'Monmouth Junction, USA'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

40.38399750000001 -74.53313441682633

In [37]:
#Set the query to find coffee shops within a 500 radius
search_query = 'coffee'
radius = 500
print(search_query)

coffee

In [38]:
#Set the URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=1Y3CSAV1RDTMXIWPD3KQRUGYECV5E3H51M02Y3GGB0XZ1Z0B&client_secret=PL2BXG3QUXGXJX4DSH4EJR3OQBOXGM01W0JV0PEL0U5POM0K&ll=40.38399750000001,-74.53313441682633&v=20200616&query=coffee&radius=500&limit=30'

In [39]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5ee8b974237de1699255d770'},
 'response': {'venues': [{'id': '5213e8ca11d268ac0a98879f',
    'name': "Grover's Mill Coffee House",
    'location': {'address': '110 Kingston Ln',
     'crossStreet': 'inside South Brunswick Public Library',
     'lat': 40.383958,
     'lng': -74.53044799999999,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.383958,
       'lng': -74.53044799999999}],
     'distance': 227,
     'postalCode': '08852',
     'cc': 'US',
     'city': 'Monmouth Junction',
     'state': 'NJ',
     'country': 'United States',
     'formattedAddress': ['110 Kingston Ln (inside South Brunswick Public Library)',
      'Monmouth Junction, NJ 08852',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1e0931735',
      'name': 'Coffee Shop',
      'pluralName': 'Coffee Shops',
      'shortName': 'Coffee Shop',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1592310144',
    'hasPerk': False}]}}

In [40]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d1e0931735', 'name': 'C...",False,5213e8ca11d268ac0a98879f,110 Kingston Ln,US,Monmouth Junction,United States,inside South Brunswick Public Library,227,[110 Kingston Ln (inside South Brunswick Publi...,"[{'label': 'display', 'lat': 40.383958, 'lng':...",40.383958,-74.530448,08852,NJ,Grover's Mill Coffee House,v-1592310144

In [41]:
# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')] + ['id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered

,name,categories,address,cc,city,country,crossStreet,distance,formattedAddress,labeledLatLngs,lat,lng,postalCode,state,id
0,Grover's Mill Coffee House,Coffee Shop,110 Kingston Ln,US,Monmouth Junction,United States,inside South Brunswick Public Library,227,[110 Kingston Ln (inside South Brunswick Publi...,"[{'label': 'display', 'lat': 40.383958, 'lng':...",40.383958,-74.530448,08852,NJ,5213e8ca11d268ac0a98879f

In [42]:
dataframe_filtered.name

0    Grover's Mill Coffee House
Name: name, dtype: object

In [49]:
venues_map = folium.Map(location=[latitude, longitude], zoom_start=13) # generate map centred around Monmouth Junction

# add the Italian restaurants as blue circle markers
for lat, lng, label in zip(dataframe_filtered.lat, dataframe_filtered.lng, dataframe_filtered.categories):
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        color='blue',
        popup=label,
        fill = True,
        fill_color='blue',
        fill_opacity=0.6
    ).add_to(venues_map)

venues_map